version: '3.8'
services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile.jenkins
    container_name: jenkins
    user: root
    ports:
      - "8080:8080"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - jenkins-net

  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok
    depends_on:
      - jenkins
    # Start ngrok tunnel and point it to Jenkins
    command: http jenkins:8080
    environment:
      - NGROK_AUTHTOKEN=xxx
    networks:
      - jenkins-net

networks:
  jenkins-net:


volumes:
  jenkins_home:
