services:
  jmeter:
    image: justb4/jmeter:latest
    container_name: jmeter-runner
    volumes:
      - ${WORKSPACE:-.}/jmeter/tests:/tests
      - ${WORKSPACE:-.}/jmeter/data:/data
      - ${WORKSPACE:-.}/reports/jmeter:/reports
    entrypoint: ["/bin/bash", "-c", "chmod +x /tests/run_jmeter.sh && /tests/run_jmeter.sh"]

  newman:
    image: postman/newman:alpine
    container_name: newman_runner
    volumes:
      - ${WORKSPACE:-.}/postman:/etc/newman
      - ${WORKSPACE:-.}/reports/newman:/etc/newman/reports
    working_dir: /etc/newman
    entrypoint: ["newman"]
    command:
      [
        "run",
        "AutomationExercise.postman_collection.json",
        "-e",
        "AutomationExercise_environment.json",
        "-r",
        "cli,html",
        "--reporter-html-export",
        "/etc/newman/reports/newman-report.html"
      ]

  playwright:
    image: mcr.microsoft.com/playwright:v1.45.0-jammy
    container_name: playwright-runner
    volumes:
      - ${WORKSPACE:-.}/ui/playwright:/tests
      - ${WORKSPACE:-.}/reports/playwright:/tests/playwright-report
    working_dir: /tests
    entrypoint: ["/bin/bash", "-c", "chmod +x ./run_playwright.sh && ./run_playwright.sh"]

  jenkins:
    build:
      context: .
      dockerfile: Dockerfile.jenkins
    container_name: jenkins-server
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    user: "root"

volumes:
  jenkins_home:
